.navbar-brand{
    display:flex;
    align-items:center;
    gap:10px;
    text-decoration:none;
    color:white;
}

.brand-logo{
    width:28px;
    height:28px;
    background:white;
    color:#ff4d4f;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:8px;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:18px;
}

.navbar-icon{
    cursor:pointer;
    color:white;
    transition:.3s;
}

.navbar-icon:hover{
    opacity:.8;
}

.navbar-avatar{
    width:34px;
    height:34px;
    border-radius:50%;
    object-fit:cover;
    cursor:pointer;
}